<!DOCTYPE html>

<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="CyberRebels offers expert IT consulting services, specializing in web design, security analysis, and network setup. Contact us for professional solutions to elevate your business's digital presence.">
    <meta name="keywords" content="CyberRebels, IT consulting, web design, security analysis, network setup, digital solutions, technology consulting">

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "CyberRebels",
        "url": "https://www.cyberebels.com",
        "logo": "https://www.cyberebels.com/logo.png",
        "description": "CyberRebels offers expert IT consulting services, specializing in web design, security analysis, and network setup.",
        "address": {
          "addressLocality": "Plattsburgh",
          "addressRegion": "NY",
          "postalCode": "12901",
          "addressCountry": "Clinton"
        },
      }
      </script>



    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='custom.css') }}"
    />

    <title>{% block title %}{% endblock %}</title>
  </head>

    <br />
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm">
            <a>
              <img src="{{ url_for('static', filename='logo.png') }}" width="225" height="110"/>
            </a>
            <ul class="navbar-nav ms-auto">
              <li>
                <a class="navbar-brand" href="#">
                  <button type="button" class="btn btn-dark">Services</button>
                </a>
              </li>
              <li>
                <a class="navbar-brand" href="#">
                  <button type="button" class="btn btn-dark">About Us</button>
                </a>
              </li>
              <li>
                <a class="navbar-brand" href="#">
                  <button type="button" class="btn btn-dark">Contact Us</button>
                </a>
              </li>
            </ul>
        </nav>
    </div>


  <div class="container font-family-sans-serif">
    {% block content %}{% endblock %}
  </div>
</html>